<launch>
<node pkg="sas_patient_side_manager" type="sas_patient_side_manager_node" name="sas_patient_side_manager">
<rosparam file="$(find sas_robot_driver_franka)/cfg/sas_patient_side_manager.yaml" command="load"/>
<rosparam subst_value="true">
    vrep_ip: $(env VREP_IP)
</rosparam>
</node>
</launch>
